*{
    margin: 0px;
    border: 0px;
}
.navbar{
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
    display: flex;
    width: 1240;
height: 44;
top: 40px;
left: 100px;
justify-content: space-between;
angle: 0 deg;
opacity: 1;

}
.heading span{
    color: #4D77FF;
}
.heading {
height: 80;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 3%;


}
.nav1 ul{
    display: flex;
    list-style: none;
    width: 316;
height: 20;
angle: 0 deg;
opacity: 1;
gap: 40px;
color: black;
padding-right: 450px;

}
.nav2 ul{
    float: right;
    display: flex;
    list-style: none;
    width: 316;
height: 20;
angle: 0 deg;
opacity: 1;
gap: 20px;

}
.nav1 a{
    text-decoration: none;
    color:black;
    font-family:sans-serif;
}
.nav2 a{
    text-decoration: none;
    color:black;
    font-family:sans-serif;
}
.nav2 #btn{
    color: white;
    background-color: #4D77FF;
    width: 97;
height: 44;
angle: 0 deg;
opacity: 1;
gap: 10px;
border-radius: 10px;
padding-top: 12px;
padding-right: 12px;
padding-bottom: 12px;
padding-left: 12px;

}