*{
    margin: 0;
    border: 0;

}
.review{
    width:;
    background-color: white;
    margin-bottom: 100px;
    
}
.review h1{
    
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 40px;
    letter-spacing: 1.5%;
    text-align: center;
    width: 500;
    height: 40;
    top: 3123px;
    left: 470px;
    angle: 0 deg;
    opacity: 1;


}
.review p{
    
    width: 288;
    height: 20;
    top: 3174px;
    left: 576px;
    angle: 0 deg;
    opacity: 1;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 1.5%;
    text-align: center;
    color: #696969;


}
.review-heading{
    background-color: white;
    padding: 20px;

}
.review-content{
    
    width: 1300px;
    height: 350px;
    display: flex;
    background-color:#edf1ff;
    top: 3244px;
    


}
.review-content p{
    width: 533px;
height: 160px;
top: 3344px;
left: 728px;
angle: 0 deg;
opacity: 1;
font-family: Manrope;
font-weight: 400;
font-style: Regular;
font-size: 25px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 3%;
color: #121212;
margin-left: 100px;
    margin-top: 90px;

    
    

}

.review-content .reviewer-img{
    padding-left: 70px;
    padding-top: 70px;
    width: 433px;
    height: 372px;
    
}
.reviewer{
    
}
.reviewer h1{
    width: 149;
    height: 20;
    top: 3638px;
    left: 728px;
    angle: 0 deg;
    opacity: 1;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 3%;
    margin-left: px;
    padding-bottom: 10px;
    margin-top: 30px;

}
.reviewer p{
    width: 208;
    height: 14;
    top: 3672px;
    left: 728px;
    angle: 0 deg;
    opacity: 1;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 14px;
    letter-spacing: 3%;
    margin-left: 30px;
    

}

