*{
    margin: 0;
    border: 0;

}
.review{
    width:100%;
    background-color: white;
    margin-bottom: 100px;
    
}
.review h1{
    
    font-family: sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 40px;
    letter-spacing: 1.5%;
    text-align: center;
    width: 500;
    height: 40;
    top: 3123px;
    left: 470px;
    angle: 0 deg;
    opacity: 1;
    margin-top: 100px;


}
.review p{
    
    width: 288;
    height: 20;
    top: 3174px;
    left: 576px;
    angle: 0 deg;
    opacity: 1;
    font-family: sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 1.5%;
    text-align: center;
    color: #696969;
    padding-top: 10px;


}
.review-heading{
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;

}
.review-content{
    
    width: 92%;
    height: 350px;
    display: flex;
    background-color:#edf1ff;
    top: 3244px;
    


}
.review-content p{
font-weight: 400;
font-style: Regular;
font-size: 25px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 3%;
width: 533;
height: 160;
top: 3344px;
left: 728px;
angle: 0 deg;
opacity: 1;
padding-top: 90px;
padding-left: 70px;
color: #121212;
padding-left: 200px;
text-align: left;
}

.review-content .reviewer-img{
    padding-left: 70px;
    padding-top: 70px;
    width: 470px;
    height: 450px;
    position:;
    
}
.reviewer{
    text-align: left;
}
.reviewer h1{
    width: 149;
    height: 20;
    top: 3638px;
    left: 728px;
    angle: 0 deg;
    opacity: 1;
    font-family: sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 3%;
    padding-left:120px;
    padding-bottom: 0.1em;
    margin-top: 30px;
    

}
.reviewer p{
    width: 208;
    height: 14;
    top: 3672px;
    left: 728px;
    angle: 0 deg;
    opacity: 1;
    font-family: sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 14px;
    letter-spacing: 3%;
    padding-left: 160px;
    

}


/* Rating */
.box-rating{
    display: block;
    align-items: center;
    border-top: 3px solid #4D77FF;
    width: 20%;
    height: 193px;
    margin: 15px;
    box-shadow: inset 0 0 10px #0000001a;

}

.box-rating h2{
    width: 84;
height: 40;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 32px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 3%;
text-align: center;
padding-top: 30px;
}
.box-rating .fp1{
    width: 131;
height: 28;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 3%;
color: #121212;
padding-bottom:0.5px ;

}
.box-rating .fp2{
    width: 84;
height: 16;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 12px;
leading-trim: NONE;
line-height: 5px;
letter-spacing: 3%;
text-align: center;
color: #696969;

}

.box-rating2{
    display: block;
    align-items: center;
    border-top: 3px solid #4D77FF;
    width: 20%;
    height: 193px;
    margin: 15px;
    box-shadow: inset 0 0 10px #0000001a;

}
.box-rating2 h2{
    width: 84;
height: 40;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 32px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 3%;
text-align: center;
padding-top: 30px;
}
.box-rating2 .fp1{
    width: 131;
height: 28;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 3%;
color: #121212;
padding-bottom:0.5px ;

}
.box-rating2 .fp2{
    width: 84;
height: 16;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 12px;
leading-trim: NONE;
line-height: 5px;
letter-spacing: 3%;
text-align: center;
color: #696969;

}
.box-rating3{
    display: block;
    align-items: center;
    border-top: 3px solid #4D77FF;
    width: 20%;
    height: 193px;
    margin: 15px;
    box-shadow: inset 0 0 10px #0000001a;

}
.box-rating3 h2{
    width: 84;
height: 40;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 32px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 3%;
text-align: center;
padding-top: 30px;
}
.box-rating3 .fp1{
    width: 131;
height: 28;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 3%;
color: #121212;
padding-top: 10px;

}
.box-rating3 .fp2{
    width: 84;
height: 16;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 12px;
leading-trim: NONE;
line-height: 5px;
letter-spacing: 3%;
text-align: center;
color: #696969;

}

 .All-box-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} 
.rating h2{
    text-align: center;
    width: 417;
height: 80;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 32px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 1.5%;
text-align: center;

}
.rating .fpp{
    color:#4D77FF;
    width: 77;
height: 20;
angle: 0 deg;
opacity: 1;
font-family: sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 3%;

}
.review{
    margin-bottom: 40px;
}

