*{
    margin: 0;
    border: 0;

}
.review{
    width:100%;
    background-color: white;
    margin-bottom: 100px;
    
}
.review h1{
    
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 40px;
    letter-spacing: 1.5%;
    text-align: center;
    width: 500;
    height: 40;
    top: 3123px;
    left: 470px;
    angle: 0 deg;
    opacity: 1;
    margin-top: 100px;


}
.review p{
    
    width: 288;
    height: 20;
    top: 3174px;
    left: 576px;
    angle: 0 deg;
    opacity: 1;
    font-family: ;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 1.5%;
    text-align: center;
    color: #696969;
    padding-top: 10px;


}
.review-heading{
    background-color: white;
    padding: 20px;

}
.review-content{
    
    width: 92%;
    height: 350px;
    display: flex;
    background-color:#edf1ff;
    top: 3244px;
    


}
.review-content p{
font-weight: 400;
font-style: Regular;
font-size: 25px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 3%;
width: 533;
height: 160;
top: 3344px;
left: 728px;
angle: 0 deg;
opacity: 1;
padding-top: 90px;
padding-left: 70px;
color: #121212;
padding-left: 200px;
}

.review-content .reviewer-img{
    padding-left: 70px;
    padding-top: 70px;
    width: 433px;
    height: 372px;
    
}
.reviewer h1{
    width: 149;
    height: 20;
    top: 3638px;
    left: 728px;
    angle: 0 deg;
    opacity: 1;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 3%;
    padding-left: 250px;
    padding-bottom: 10px;
    margin-top: 30px;

}
.reviewer p{
    width: 208;
    height: 14;
    top: 3672px;
    left: 728px;
    angle: 0 deg;
    opacity: 1;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 14px;
    letter-spacing: 3%;
    padding-left: 270px;
    

}


/* Rating */
.box-rating{
    display: flex;
    align-items: center;
    border-top: 2px solid rgb(43, 75, 232);
    width: 25%;
    height: 200px;
    margin: 15px;
    box-shadow: inset 0 0 10px #0000001a;
}
.box-rating .box-rating-sub{
    display: block;
}
.box-rating .box-rating-top h2{
    display: block;
    text-align: center;
}
.All-box-rating{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating h2{
    text-align: center;
}
.rating .fpp{
    color: blue;
}

